@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Nunito:wght@300;400;600;700;800;900&family=Russo+One&family=Spartan:wght@700;800;900&display=swap");

body {
    font-family:  "Nunito", sans-serif;
    margin: 0 32px;
}

main {
    max-width: 900px;
    margin-inline: auto;
}

* {
    box-sizing: border-box;
}



.app-container{
    display: flex;
    gap: 32px;
}


@media (max-width: 900px) {
    body {
        margin-inline: 16px;
    }

    .expense-tracker {
        flex-direction: column;
    }
}